<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Add Class</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'search' %}">
          <img src="arrow.png" alt="" width="30px" class="d-inline-block align-top">
        </a>
        <div class="navbar-header mx-auto">
          New Course
        </div>
      </div>
    </nav>

    <div class="container my-3">
      <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <label class="input-group-text text-danger" for="term">Term</label>
          <select class="form-select" id="inputGroupSelect01" name="term">
            <option selected>Select</option>
            <option value="Spring 2021">Spring 2021</option>
            <option value="Summer 2021">Summer 2021</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text text-danger" id="inputGroup-sizing-default">Course Name</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="courseName">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text text-danger" id="inputGroup-sizing-default">Course # (Ex CS0001)</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="courseNum">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text text-danger">Instructor</span>
          <input type="text" aria-label="First name" placeholder="FirstName" class="form-control" name="firstName">
          <input type="text" aria-label="Last name" placeholder="LastName" class="form-control" name="lastName">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text text-danger" for="days">Lecture Days</label>
          <select class="form-select" id="inputGroupSelect01" name="day1">
            <option selected>Day 1</option>
            <option value="M">Monday</option>
            <option value="T">Tuesday</option>
            <option value="W">Wednesday</option>
            <option value="TH">Thursday</option>
            <option value="F">Friday</option>
          </select>
          <select class="form-select" id="inputGroupSelect01" name="day2">
            <option selected>Day 2 (optional)</option>
            <option value="M">Monday</option>
            <option value="T">Tuesday</option>
            <option value="W">Wednesday</option>
            <option value="TH">Thursday</option>
            <option value="F">Friday</option>
          </select>
          <select class="form-select" id="inputGroupSelect01" name="day3">
            <option selected>Day 3 (optional)</option>
            <option value="M">Monday</option>
            <option value="T">Tuesday</option>
            <option value="W">Wednesday</option>
            <option value="TH">Thursday</option>
            <option value="F">Friday</option>
          </select>
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text text-danger" id="basic-addon3">Zoom Lecture Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="lectureLink">
          <span class="input-group-text text-danger" id="basic-addon3">Meeting Time (00:00 AM/PM)</span>
          <input type="text" aria-label="Time" class="form-control" name="lectureTime">
          <span class="input-group-text" id="basic-addon3">Password (optional)</span>
          <input type="text" aria-label="Time" class="form-control" name="password">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="days">Day 1</label>
          <select class="form-select" id="inputGroupSelect01" name="recDay">
            <option selected>Select Day</option>
            <option value="M">Monday</option>
            <option value="T">Tuesday</option>
            <option value="W">Wednesday</option>
            <option value="TH">Thursday</option>
            <option value="F">Friday</option>
          </select>
          <select class="form-select" id="inputGroupSelect01" name="recDay2">
            <option selected>Day 2 (optional)</option>
            <option value="M">Monday</option>
            <option value="T">Tuesday</option>
            <option value="W">Wednesday</option>
            <option value="TH">Thursday</option>
            <option value="F">Friday</option>
          </select>
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text " id="basic-addon3">Zoom Recitation Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="recitationLink">
          <span class="input-group-text" id="basic-addon3">Meeting Time (00:00 AM/PM)</span>
          <input type="text" aria-label="Time" class="form-control" name="recitationTime">
          <span class="input-group-text" id="basic-addon3">Password (optional)</span>
          <input type="text" aria-label="Time" class="form-control" name="recPassword">
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="days">Office Hours Day</label>
          <select class="form-select" id="inputGroupSelect01" name="officeDay">
            <option selected>Select Day</option>
            <option value="M">Monday</option>
            <option value="T">Tuesday</option>
            <option value="W">Wednesday</option>
            <option value="TH">Thursday</option>
            <option value="F">Friday</option>
          </select>
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Zoom Office Hours Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          <span class="input-group-text" id="basic-addon3">Meeting Time (00:00 AM/PM)</span>
          <input type="text" aria-label="Time" class="form-control" name="recitationTime">
          <span class="input-group-text" id="basic-addon3">Password (optional)</span>
          <input type="text" aria-label="Time" class="form-control" name="officePassword">
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Discord Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="discordLink">
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Groupme Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="groupmeLink">
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Slack Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="slackLink">
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Tophat Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="topHatLink">
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Canvas Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="canvasLink">
        </div>
        <div class="container1 input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Gradescope Link</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="gradescopeLink">
        </div>
        <div class="d-flex justify-content-center my-3"><button type="submit" class="btn btn-primary">Submit</button></div>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="class_form.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  </body>
</html>
